@model TashanSofrasiWebApp.DTOs.AboutDTOs.UpdateAboutDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Hakkımda İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Hakkımda Güncellenme</div>
						</div>
						<div class="card-body">
							<div class="card-sub">
								Hakkımda kısmını buradan güncelleyebilirsiniz.
							</div>
							<input type="hidden" asp-for="AboutID" />
							<div class="form-group">
								<label for="aboutimageurl">Hakkımda Görsel Bağlantısı: </label>
								<input type="text" class="form-control" asp-for="AboutImageURL" id="aboutimageurl">
							</div>
							<div class="form-group">
								<label for="abouttitle">Hakkımda Başlığı: </label>
								<input type="text" class="form-control" asp-for="AboutTitle" id="abouttitle">
							</div>
							<div class="form-group">
								<label for="aboutdescription">Hakkımda Açıklaması: </label>
								<textarea type="text" class="form-control" asp-for="AboutDescription" id="aboutdescription"></textarea>
							</div>
							
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Hakkımda Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


